{% extends 'base.html' %}

{% block title %}
<title> History </title>
{% endblock %}

{% block body %}
<h1>History</h1>
<table>
	<tr>
		<td>Тип</td><td>Свиньи</td><td>Из</td><td>В</td><td>Общий вес</td><td>дата</td><td>Описание</td><td>Клиет</td><td>Поставщик</td>
	</tr>
	{% for change in changes %}
	<tr>
		<td>{{ change.type }}</td><td>{{ change.animals }}</td><td>{{ change.cell_from }}</td><td>{{ change.cell_to }}</td><td>{{ change.total_weight }}</td><td>{{ change.cell_from }}</td><td>Описание</td><td>Клиет</td><td>Поставщик</td>
	</tr>
	{% endfor %}

</table>
{% endblock %}
